*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 85%;
  margin: auto;
}

.titolo{
  height: 80px;
  background-color: #ffc1b6;
  margin-bottom: 10px;
}

.banner{
  height: 400px;
  background-color: #f9d89c;
  margin-bottom: 10px;
}
